<html>
    <head>
      <style> 
        .b{
           margin-left: 520px;
           margin-top: 90px;
           
           
       }
       .a{
           text-align: center;
           border: black solid;
           width: fit-content;
           padding-bottom: 20px;
           padding-right: 20px;
           padding-left: 20px;
           box-shadow:20px 20px;
       }
       </style>     
    </head>
    <body>
        <div class="b">
            <div class="a">
        <form action="/Vmodel" method="POST">
            <h1 style="color: black">Vector Model Space</h1>
            <p>Enter Query</p>
            <input type="text" name="QueryStr">
            <input type="submit" value="Submit" style="background-color: rgb(38, 216, 38);;">
        
    </form>
  <a class="btn" href="/generate">  <input type="submit" value="Generate" ></a> 
        </form>
    </div>
</div>
    </body>
</html>

