<html>

<head>
   <style>
       .b{
           margin-left: 520px;
           margin-top: 90px;
           
           
       }
       .a{
           text-align: center;
           border: black solid;
           width: fit-content;
           padding-bottom: 20px;
           padding-right: 20px;
           padding-left: 20px;
           box-shadow:20px 20px;
       }
       
   </style> 
</head>

<body>
    <div class="b">
    <div class="a">
    <form action="/Smodel" method="POST">
        <h1 style="color: black">statistical model</h1>
        <p>a <input type="text" name="q1" /></p>
        <p>b <input type="text" name="q2" /></p>
        <p>c <input type="text" name="q3" /></p>
        <p>d <input type="text" name="q4" /></p>
        <p>e <input type="text" name="q5" /></p>
        <p>f <input type="text" name="q6" /></p>
        <p><input type="submit" value="Submit" class="bb" style="background-color: rgb(124, 250, 124); "/></p>
    </form >
    <a class="btn" href="/generate"  >  <input type="submit" value="Generate" style="background-color: rgb(101, 104, 101);" ></a>
</div>
</div>
</body>

</html>